@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&family=Montserrat:wght@500;600&family=Raleway:wght@200;400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Figtree', 'Arial', sans-serif;
  }
}


#app {
  height: 100vh;
  width: 100vw;
}

.main {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 63%, rgba(33,204,101,1) 63%, rgba(24,182,86,1) 100%);
}

